pipeline/run_batch_cmd_MOD.json
{
	"name": "run_batch_cmd_MOD",
	"properties": {
		"activities": [
			{
				"name": "Custom1",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@pipeline().parameters.Parm1",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorage2",
						"type": "LinkedServiceReference"
					},
					"folderPath": "job-adfv2-pytfpool",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Custom1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText3",
						"type": "DatasetReference",
						"parameters": {
							"runid": "@activity('Custom1').ActivityRunId"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Custom1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Binary2",
						"type": "DatasetReference",
						"parameters": {
							"runid": "@activity('Custom1').ActivityRunId"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Binary3",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"Parm1": {
				"type": "string",
				"defaultValue": "cmd /c dir"
			}
		},
		"variables": {
			"varvalue": {
				"type": "String"
			},
			"output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-23T00:54:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}