pipeline/run_batch_cmd.json
{
	"name": "run_batch_cmd",
	"properties": {
		"activities": [
			{
				"name": "Custom1",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@pipeline().parameters.Parm1",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorage2",
						"type": "LinkedServiceReference"
					},
					"folderPath": "job-adfv2-pytfpool",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Custom1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@activity('Custom1').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Parm1": {
				"type": "string",
				"defaultValue": "cmd /c dir"
			}
		},
		"variables": {
			"varvalue": {
				"type": "String"
			},
			"output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-23T00:54:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}